<ion-header>
    <ion-toolbar>
        <ion-title>inbox</ion-title>

        <ion-buttons slot="end">
            <ion-button routerLink="create">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-list-header>My chats</ion-list-header>

        <ion-item *ngFor="let chat of chats" [routerLink]="['/inbox', chat._id]">
            <ion-avatar slot="start">
                <img
                    [src]="'https://eu.ui-avatars.com/api/?background=random&color=fff&name=' + chat.name"
                    alt="{{ chat.name }}"
                />
            </ion-avatar>
            <ion-label *ngIf="chat.lastMessage">
                <h2>{{ chat.lastMessage.message }}</h2>
                <h3>{{ chat.name }}</h3>
                <p>{{ chat.lastMessage.createdAt | date: 'short' }}</p>
            </ion-label>
            <ion-label *ngIf="!chat.lastMessage">
                <h3>{{ chat.name }}</h3>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>
