<ion-header>
    <ion-toolbar>
        <ion-title>My profile</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-avatar class="mx-auto mt-2">
        <img
            [src]="user.photo"
            [src-fallback]="'https://eu.ui-avatars.com/api/?background=random&color=fff&name=' + user.name"
            alt="{{ user.name }}"
        />
    </ion-avatar>
    <h1 class="text-center">{{ user.name }}</h1>

<!--    <div class="d-flex justify-content-evenly">-->
<!--        <div class="followers d-flex flex-column text-center" [routerLink]="['/profile', user._id, 'followers']">-->
<!--            <span class="number fw-bold">-->
<!--                {{ user.followers.length }}-->
<!--            </span>-->
<!--            <span class="name">followers</span>-->
<!--        </div>-->
<!--        <div class="following d-flex flex-column text-center" [routerLink]="['/profile', user._id, 'following']">-->
<!--            <span class="number fw-bold">-->
<!--                {{ user.following.length }}-->
<!--            </span>-->
<!--            <span class="name">following</span>-->
<!--        </div>-->
<!--        &lt;!&ndash; <div class="liked"></div> &ndash;&gt;-->
<!--    </div>-->

    <div>
        <ion-button
            [color]="user.tags.includes('no-blur') ? 'success' : 'danger'"
            (click)="toggleTag('no-blur')">
            Toggle: no-blur
        </ion-button>
    </div>

    <app-follow [user]="user"></app-follow>

    <div class="text-center">
        <ion-button color="danger" (click)="logout()">Logout</ion-button>
    </div>

    <ion-segment mode="md" (ionChange)="segmentChanged($event)" [value]="segment">
        <ion-segment-button value="">
            <ion-label>Mine</ion-label>
        </ion-segment-button>
        <ion-segment-button value="favorites">
            <ion-label>Favorites</ion-label>
        </ion-segment-button>
    </ion-segment>

    <router-outlet></router-outlet>

</ion-content>
