<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="foryou">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="create">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon name="chatbox-ellipses"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
