<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="form">
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngFor="let msg of (errors?.['name'] || [])">{{ msg }}</ion-text>

        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngFor="let msg of (errors?.['email'] || [])">{{ msg }}</ion-text>

        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngFor="let msg of (errors?.['password'] || [])">{{ msg }}</ion-text>

        <ion-button [disabled]="form.invalid" (click)="register()" expand="block" color="tertiary">
            Register
        </ion-button>
    </form>

    <div class="ion-text-center">
        <div class="ion-margin-top">
            <ion-text color="secondary">Already have an account?</ion-text>
        </div>
        <div class="ion-margin-top">
            <ion-router-link routerLink="/login" color="tertiary">
                Login now !
            </ion-router-link>
        </div>
    </div>

</ion-content>
