<ion-header>
    <ion-toolbar>
        <ion-title>{{ chat?.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #ChatContent>
    <div [ngClass]="chat?.theme" style="padding-bottom: 80px">
        <div
            *ngFor="let msg of messages"
            class="message-container"
            [class.mine]="msg.sender === user._id"
        >
            <ng-container *ngIf="msg.media.length">
                <ng-container *ngFor="let media of msg.media">

                    <ng-container [ngSwitch]="media.type">
                        <ng-container *ngSwitchCase="'video'">
                            <div class="mx-2">
                                <video class="rounded-3" width="171" height="304" [src]="media.url" loop controls></video>
                            </div>
                        </ng-container>
                        <div *ngSwitchCase="'audio'">
                            audio
                        </div>
                        <div *ngSwitchCase="'photo'">
                            photo
                        </div>
                        <div *ngSwitchCase="'link'">
                            link
                        </div>
                    </ng-container>

                </ng-container>
            </ng-container>
            <div class="d-inline-block py-2 px-4 rounded-3 mb-1 mx-2 message-box">{{ msg.message }}</div>
        </div>
    </div>

    <div class="p-2 bg-light border-top fixed-bottom d-flex">
        <div class="flex-grow-1">
            <textarea
                [(ngModel)]="message.text"
                class="form-control"
                (keydown.enter)="sendMessage()"
            ></textarea>
        </div>
        <div>
            <ion-button (click)="sendMessage()" [disabled]="!message.text.trim()">
                <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-content>
