<ion-content>

    <div class="time" *ngIf="startTime">
        {{ startTime | timeago }}
    </div>

    <div class="video-container">
        <video autoplay muted #videoPreview></video>
    </div>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button
            (click)="toggleRecord()"
            color="danger"
        >
            <ion-icon
                [name]="(startTime) ? 'stop': 'aperture-outline'"
            ></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button
            (click)="toggleCamera()"
            color="secondary"
        >
            <ion-icon name="camera-reverse"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="createService.videoInput.path"
             vertical="bottom"
             horizontal="end"
             slot="fixed"
    >
        <ion-fab-button color="tertiary" routerLink="details">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
