<ion-content>

    <div class="time" *ngIf="startTime">
        {{ startTime | timeago }}
    </div>

    <ng-container *ngIf="audio">
        <audio hidden [src]="audio.url" #AudioRef></audio>
        <div class="audio-template d-flex align-items-center">
            <ng-container *ngIf="audio.meta?.spotify?.album?.images?.[0]?.url">
                <img
                    [src]="audio.meta.spotify.album.images[0].url"
                    class="rounded-circle"
                    width="30"
                />
            </ng-container>
            <span class="mx-1 text-nowrap overflow-hidden" style="max-width: 120px;text-overflow: ellipsis;">{{ audio.name }}</span>
            <ion-buttons hidden>
                <ion-button>
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ng-container>

    <div class="video-container">
        <video autoplay appMute #videoPreview></video>
    </div>

    <label class="file-selector">
        <input
            class="d-none"
            type="file"
            accept="video/*"
            (change)="selectFile($event)"
        />
    </label>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button
            (click)="toggleRecord()"
            color="danger"
        >
            <ion-icon
                [name]="(startTime) ? 'stop': 'aperture-outline'"
            ></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button
            (click)="toggleCamera()"
            color="secondary"
        >
            <ion-icon name="camera-reverse"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="createService.videoInput.path"
             vertical="bottom"
             horizontal="end"
             slot="fixed"
    >
        <ion-fab-button color="tertiary" routerLink="details">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
