ion-content {
    position: relative;
}

.time {
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 1;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    video {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

.file-selector {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 42px;
    height: 42px;
    border: solid 2px white;
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    background-image: url('/assets/images/file-selector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
