<ion-header>
    <ion-toolbar>
        <ion-title>{{ comments.length }} {{ comments.length === 1 ? "comment" : "comments" }}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="remove"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-deep-comments
        (clicked)="replyTo($event)"
        [comments]="comments"
    ></app-deep-comments>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-avatar slot="start">
            <img [src]="user.photo"/>
        </ion-avatar>

        <div>
            <div *ngIf="replyComment">
                <div class="text-muted text-truncate">
                    <ion-icon
                        name="close-circle-outline"
                        (click)="cancelReply()"
                    ></ion-icon>
                    <b>reply to:</b> {{ replyComment.text }}
                </div>
            </div>
            <ion-searchbar
                (ionChange)="setCommentText($event)"
                searchIcon="-"
                placeholder="Your comment here..."
                inputmode="text"
            ></ion-searchbar>
        </div>

        <ion-buttons slot="end">
            <ion-button (click)="addComment()">
                <ion-icon name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
