<ion-content>
    <div class="slide-container absolute-fill">
        <swiper
            #TikTokSlides
            [slidesPerView]="1"
            [spaceBetween]="0"
            [virtual]="true"
            [direction]="'vertical'"
            (slideChange)="slideChange($event)"
        >
            <ng-container *ngFor="let post of posts">
                <ng-template swiperSlide>
                    <div class="post-container absolute-fill">
                        <video autoplay muted loop>
                            <source [src]="post.videoUrl" type="video/mp4">
                        </video>

                        <div class="post-data-container absolute-fill d-flex">
                            <div class="flex-grow-1 d-flex flex-column">
                                <div class="flex-grow-1"></div>
                                <div class="post-info fs-8">
                                    <div class="fw-bold">@{{ post.user?.name }}</div>
                                    <div>{{ post.description }}</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column text-center">
                                <div class="flex-grow-1"></div>
                                <div class="">
                                    <ion-avatar>
                                        <img
                                            [src]="post.user.photo"
                                            [src-fallback]="'https://eu.ui-avatars.com/api/?background=random&color=fff&name=' + post.user.name"
                                            alt="{{ post.user.name }}"
                                        />
                                    </ion-avatar>
                                </div>
                                <div class="">
                                    <ion-icon
                                        class="fs-1"
                                        name="heart"
                                        [color]="post.liked ? 'danger' : ''"
                                        (click)="togglePost(post)"
                                    ></ion-icon>
                                    <div>{{ post.likes }}</div>
                                </div>
                                <div class="">
                                    Comment
                                    <div>{{ post.comments }}</div>
                                </div>
                                <div class="">
                                    Share
                                    <div>{{ post.shares }}</div>
                                </div>
                                <div class="">
                                    Sound
                                </div>
                            </div>
                        </div>


                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
</ion-content>
