.slide-container {
    background-color: black;
    width: 100vw;
    swiper {
        width: 100%;
        height: 100%;
    }

    .post-container {

        video {
            width: 100%;
            height: 100%;
        }

        .post-data-container {
            z-index: 1;
            color: white;

            .post-info {
                background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
            }
        }
    }
}

.follow-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    display: flex;
    border-radius: 100%;

    ion-icon {
        &:before {
            content: "";
            position: absolute;
            border-radius: 100%;
            width: 10px;
            height: 10px;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: white;
            z-index: -1;
        }
    }
}

.side-avatar {

}
.side-icon {
    font-size: 2.2rem;
}
.side-text {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: -0.5rem;
}
